@using Microsoft.AspNetCore.Identity
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        BTUser btUser = await UserManager.GetUserAsync(User);
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @btUser.FullName!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    <div class="btn-group dropleft">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropleft
        </button>
        <div class="dropdown-menu">
            <ul class="dropdown-menu-right">
                <li>
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                    <a class="nav-link text-dark" asp-controller="Companies" asp-action="Index"> Companies</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="Invites" asp-action="Index"> Invites</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="Notifications" asp-action="Index"> Notifications</a>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                    <a class="nav-link text-dark" asp-controller="Projects" asp-action="Index"> Project Index</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="Projects" asp-action="MyProjects"> <b>My Projects</b></a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="ProjectPriorities" asp-action="Index"> Project Priorities</a>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                    <a class="nav-link text-dark" asp-controller="Tickets" asp-action="Index"> Ticket Index</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="Tickets" asp-action="MyTickets"> <b>My Tickets</b></a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="TicketAttachments" asp-action="Index"> Ticket Attachments</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="TicketComments" asp-action="Index"> Ticket Comments</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="TicketHistories" asp-action="Index"> Ticket History</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="TicketPriorities" asp-action="Index"> Ticket Priorities</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="TicketStatus" asp-action="Index"> Ticket Status</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="TicketTypes" asp-action="Index"> Ticket Types</a>
                </li>
            </ul>
        </div>
    </div>
</ul>
