@page
@model ConfirmEmailModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Email Confirmed";
}
<div class="row">
    <div class="col">
        <div class="card p-3">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <div class="center text-center">
                <p>@Model.StatusMessage</p>
                <a class="btn btn-lg btn-block btn-gradient-info" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-sign-in"></i><span> SIGN IN</span></a>
            </div>
        </div>
    </div>
</div>
@*<p class="text-center">Your email is confirmed. To log in, please click <b><a style="text-decoration:underline" asp-area="Identity" asp-page="/Account/Login">HERE</a></b>.</p>*@