@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<p class="text-center">Your email is confirmed. To log in, please click <b><a style="text-decoration:underline" asp-area="Identity" asp-page="/Account/Login">HERE</a></b>.</p>