@page
@model ForgotPasswordModel
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";

    ViewData["Title"] = "Forgot your password?";
}

<div class="row">
    <div class="col text-info">
        <h3>@ViewData["Title"]</h3>
        <hr style="border:dotted; border-radius:75%; border-color:#22DC0A; max-width:100%; opacity:.8;" />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Email" placeholder="Email Address..." class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-gradient-primary">Submit Your Email</button>
            <br /><br />
            <a class="text-secondary" asp-area="Identity" asp-page="/Account/Login">Back to Login</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
