@page
@model LoginModel

@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-lg-6 text-center text-info">
        <h4 class="text-light">Registered Users</h4>
        <section>
            <form id="account" method="post">
                <hr style="border:1px dashed; border-radius:75%; border-color:#22DC0A; max-width:100%; opacity:.8;" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-gradient-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a class="text-secondary" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a class="text-secondary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register a new company</a>
                    </p>
                    <p>
                        <a class="text-secondary" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-lg-6 text-center">
        <section class="text-light">
            <h4 class="mb-4">Demo Account</h4>
            <hr style="border:1px dashed; border-radius:75%; border-color:#22DC0A; max-width:100%; opacity:.8;" />
            <form id="account" method="post">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-outline-secondary text-info btn-block m-2" name="demoEmail" value="DemoAdminEmail">Admin</button>
                            <button type="submit" class="btn btn-outline-secondary text-info btn-block m-2" name="demoEmail" value="DemoPMEmail">Project Manager</button>
                            <button type="submit" class="btn btn-outline-secondary text-info btn-block m-2" name="demoEmail" value="DemoDevEmail">Developer</button>
                            <button type="submit" class="btn btn-outline-secondary text-info btn-block m-2" name="demoEmail" value="DemoSubEmail">Submitter</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
