@page
@model RegisterConfirmationModel
@{ Layout = "_LoginLayout";
    ViewData["Title"] = "Registration Confirmed!"; }


<div>
            <h3 class="text-info">@ViewData["Title"]</h3>
            <p class="text-light">
                Please check your email to finalize your account.
            </p>
        </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}