@page
@model RegisterConfirmationModel
@{ Layout = "_LoginLayout";
    ViewData["Title"] = "Registration Confirmation"; }


<div>
            <h1 class="text-info">@ViewData["Title"]</h1>
            <p class="text-light">
                Please check your email to confirm your account.
            </p>
        </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}