@page
@model ResetPasswordConfirmationModel
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";

    ViewData["Title"] = "Password Reset";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-12">
    <a asp-page="./Login" class="btn btn-gradient-info">Click here to log in</a>.
    </div>
</div>
