@model Unbugit.Models.ViewModels.InviteViewModel

<div class="col-lg-6 col-md-12 offset-lg-3">
    <div class="card shadow-lg rounded">
        <div class="card-body">
            <div class="text-center">
                <h4 class="main-content-label mb-1">Create an Invite</h4>
                <h6 class="text-muted card-sub-title">Invite a new member to your team.</h6>
            </div>
            <hr style="border:1px solid; border-radius:70%; border-color:#22DC0A; max-width:50%; opacity:.8;" />
            <div class="chard shadow-lg border bg-dark-bright p-3">
                <form asp-action="Create">
                    <div class="row row-xs align-items-center mg-b-20 mb-2">
                        <div class="col-md-4">
                            <label class="mg-b-0 text-info">Email</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <input type="email" asp-for="Email" class="form-control" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="row row-xs align-items-center mg-b-20 mb-2">
                        <div class="col-md-4">
                            <label class="mg-b-0 text-info">Firstname</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <input type="text" asp-for="FirstName" class="form-control" placeholder="Enter first name">
                        </div>
                    </div>
                    <div class="row row-xs align-items-center mg-b-20 mb-2">
                        <div class="col-md-4">
                            <label class="mg-b-0 text-info">Lastname</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <input type="text" asp-for="LastName" class="form-control" placeholder="Enter last name">
                        </div>
                    </div>
                    <div class="row row-xs align-items-center mg-b-20 mb-2">
                        <div class="col-md-4">
                            <label class="mg-b-0 text-info">Select Project</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <select class="form-control" asp-for="ProjectId" asp-items="Model.ProjectsList">
                                <option value="" hidden>Select Project</option>
                            </select>
                        </div>
                    </div>
                    <div class="row row-xs align-items-center mg-b-20 mb-2">
                        <div class="col-md-4">
                            <label class="mg-b-0 text-info">Message</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <textarea class="form-control" asp-for="Message" multiple="multiple"></textarea>
                        </div>
                    </div>
                    <div class="form-group row justify-content-end mb-0">
                        <div class="col-md-8 pl-md-2">
                            <input type="submit" class="btn ripple btn-primary pd-x-30 mg-r-5" value="Send Invite" />
                            <button class="btn ripple btn-secondary pd-x-30">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>